* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
}

main {
    font-size: 14px;
    font-family: "Sora", sans-serif;
    font-style: normal;
    background-color: #FFFFFF;
    color: #394150;

    
    width: 370px;
    padding: 16px;
    margin: 164px auto;
    box-shadow: 10px 10px 35px #E5EAF0;
    border-radius: 10px;
}

img {
    width: 336px;
    display: block;
    border-radius: 10px;
}

h1 {
    font-size: 1.125rem;
    color: #20293A;
}

h6 {
    font-size: 0.625rem;
    background-color: #E5EAF0;
    color: #7C19EE;
    display: inline-block;
    padding: 6px 16px;
    border-radius: 20px;
    margin: 16px 0;
}

p {
    margin: 6px 0 20px;
}


footer {
    font-size: 0.75rem;
    border-top: 1px solid #E5EAF0;
    padding: 20px 0 4px;
}
