* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
}

main {
    font-size: 14px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    width: 364px;
    margin: 164px auto;
    border: 2px solid black;
}

img {
    width: 336;
    margin: 16px auto;
}

h1 {
    font-size: 1.125rem;
}

h6 {
    font-size: 0.625rem;
}

footer {
    font-size: 0.875rem;
}